html,
body,
* {
  margin: 0;
  /*   padding: 0; */
  box-sizing: border-box;
  font-size: 30px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
body {
  background-color: #eccfdf;
}
.sirivennela-regular {
  font-family: "Sirivennela", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}
.twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}
.head {
  font-family: "Sirivennela", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 90px;
  color: #86562e;
  text-shadow: #fff1f1 3px 3px 5px;
  margin: 15px;
}
.card {
  width: 20vw;
  height: 400px;
  background-color: #e2e2e4;
  margin: 15px auto;
  border-radius: 20px;
  border: 3px solid #7e8685;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: #2d353d 10px 10px 20px;
  flex-wrap: wrap;
  transition: 0.3s;
}
.container {
  width: 100vw;
  height: auto;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.card-header {
  font-size: 21px;
  text-align: center;
  margin: 10px;
}
.card-info {
  font-size: 25px;
  margin: 10px;
  text-align: center;
}
.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
}
.filter-buttons-again {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
}
.lizzy-grant {
  font-family: "Twinkle Star", cursive;
  font-size: 39px;
  margin-left: auto;
  text-align: center;
}
.lana-rey {
  font-family: "Twinkle Star", cursive;
  font-size: 39px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.lana-del-ray {
  font-family: "Twinkle Star", cursive;
  font-size: 39px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.lana-del-rey {
  font-family: "Twinkle Star", cursive;
  font-size: 39px;
  margin-right: auto;
  text-align: center;
}
.twenty-nine-plus {
  font-family: "Twinkle Star", cursive;
  font-size: 39px;
  margin-left: auto;
  text-align: center;
}
.twenty-ten {
  font-family: "Twinkle Star", cursive;
  font-size: 39px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.twenty-eleven {
  font-family: "Twinkle Star", cursive;
  font-size: 39px;
  margin-right: auto;
  text-align: center;
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
