html,
body,
* {
  margin: 0;
  /*   padding: 0; */
  box-sizing: border-box;
  font-size: 30px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
:root {
  --mint-color: #abdddb;
  --strawberry-color: #d69fcf;
  --vanilla-color: #e7e5cb;
  --chocolate-color: #b38459;
  --border-color: #b38459;
  --button-bg: #fff;
  --head-color: #86562e;
}
body {
  background-color: #eccfdf;
}
.sirivennela-regular {
  font-family: "Sirivennela", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}
.twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}
.niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}
.head {
  font-family: "Sirivennela", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 95px;
  color: var(--head-color);
  text-shadow: #fff1f1 3px 3px 5px;
  margin: 15px;
}
.card {
  width: 20vw;
  height: 400px;
  background-color: #ffffff;
  margin: 15px auto;
  border-radius: 20px;
  border: 3px solid #d7b6db;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.3s;
  box-shadow: 10px 8px 0px rgb(255, 255, 255);
}
.container {
  width: 100vw;
  height: auto;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.card-header {
  font-size: 33px;
  text-align: center;
  margin: 10px;
  font-family: "Niconne";
  font-weight: 100;
  color: #d7b6db;
}
.card-info {
  font-size: 25px;
  margin: 10px;
  text-align: center;
  font-family: "Shrikhand", serif;
  font-weight: 100;
  color: #523636;
}
.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
}
.filter-buttons-again {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
}

.lizzy-grant {
  font-family: "Twinkle Star", cursive;
  margin-left: auto;
  overflow-y: hidden;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: var(--button-bg);
  background-color: var(--mint-color);
  height: 48px;
  :hover {
    transform: scale(1.04);
    background-color: #21e065;
  }
}
.lana-rey {
  font-family: "Twinkle Star", cursive;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: hidden;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: var(--button-bg);
  background-color: var(--mint-color);
  height: 48px;
  :hover {
    transform: scale(1.04);
    background-color: #21e065;
  }
}
.lana-del-ray {
  font-family: "Twinkle Star", cursive;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: hidden;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: var(--button-bg);
  background-color: var(--mint-color);
  height: 48px;
  :hover {
    transform: scale(1.04);
    background-color: #21e065;
  }
}
.lana-del-rey {
  font-family: "Twinkle Star", cursive;
  margin-right: auto;
  overflow-y: hidden;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: var(--button-bg);
  background-color: var(--mint-color);
  height: 48px;
  :hover {
    transform: scale(1.04);
    background-color: #21e065;
  }
}
.twenty-nine-plus {
  font-family: "Twinkle Star", cursive;
  font-size: 30px;
  margin-left: auto;
  text-align: center;

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--button-bg);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  color: var(--strawberry-color);
  border: 1px solid var(--border-color);
  line-height: 26px;
}
.twenty-ten {
  font-family: "Twinkle Star", cursive;
  font-size: 30px;
  text-align: center;

  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--button-bg);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  color: var(--vanilla-color);
  border: 1px solid var(--border-color);
  line-height: 26px;
}
.twenty-eleven {
  font-family: "Twinkle Star", cursive;
  font-size: 30px;
  margin-right: auto;
  text-align: center;

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--button-bg);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  color: var(--chocolate-color);
  border: 1px solid var(--border-color);
  line-height: 26px;
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
