html,
body,
* {
  margin: 0;
  /*   padding: 0; */
  box-sizing: border-box;
  font-size: 30px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
:root {
  --category-color: #abdddb;
  --strawberry-color: #d69fcf;
  --vanilla-color: #e7e5cb;
  --chocolate-color: #b38459;
  --border-color: #b38459;
  --button-bg: #fff;
  --head-color: #86562e;
  --head-shadow: #fff1f1;
  --card-shadow: #fef0f9;
  --bg: #eccfdf;
  --change-btn: #b75fa3;

  --new-btn: #8e6c51;
  --new-bg: #d1bca8;
  --new-card-shadow: #ba9e79;

  --primary: var(--button-bg);
  --secondary: var(--bg);
  --tertiary: var(--card-shadow);
}
body.cool {
  --primary: var(--new-btn);
  --secondary: var(--new-bg);
  --tertiary: var(--new-card-shadow);
}

body.warm {
  --primary: var(--button-bg);
  --secondary: var(--bg);
  --tertiary: var(--card-shadow);
}
body {
  background-color: var(--secondary);
}
.sirivennela-regular {
  font-family: "Sirivennela", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}
.twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}
.niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}
.head {
  font-family: "Sirivennela", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 95px;
  color: var(--head-color);
  text-shadow: var(--head-shadow) 3px 3px 5px;
  margin: 15px;
}
.card {
  width: 18vw;
  height: 18vw;
  margin: 15px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: 0.3s;
  box-shadow: 10px 8px 0px var(--tertiary);
}
.container {
  width: 100vw;
  height: auto;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-img {
  width: 18vw;
  height: 18vw;
  object-fit: cover;
}
.main {
  text-align: center;
}
.color-change {
  text-align: center;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-family: "Niconne", cursive;
  color: var(--change-btn);
  border-color: var(--change-btn);
}
.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  margin: auto;
}
.filter-buttons-again {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
}

.lizzy-grant {
  font-family: "Twinkle Star", cursive;
  margin-left: auto;
  overflow-y: hidden;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: var(--primary);
  background-color: var(--category-color);
  height: 48px;
}
.lana-rey {
  font-family: "Twinkle Star", cursive;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: hidden;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: var(--primary);
  background-color: var(--category-color);
  height: 48px;
}
.lana-del-ray {
  font-family: "Twinkle Star", cursive;
  margin-right: 10px;
  overflow-y: hidden;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: var(--primary);
  background-color: var(--category-color);
  height: 48px;
}
.lana-del-rey {
  font-family: "Twinkle Star", cursive;
  margin-right: auto;
  overflow-y: hidden;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: var(--primary);
  background-color: var(--category-color);
  height: 48px;
}
.twenty-nine-plus {
  font-family: "Twinkle Star", cursive;
  font-size: 30px;
  margin-left: auto;
  text-align: center;

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  color: var(--strawberry-color);
  border: 1px solid var(--border-color);
  line-height: 26px;
}
.twenty-ten {
  font-family: "Twinkle Star", cursive;
  font-size: 30px;
  text-align: center;

  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  color: var(--vanilla-color);
  border: 1px solid var(--border-color);
  line-height: 26px;
}
.twenty-eleven {
  font-family: "Twinkle Star", cursive;
  font-size: 30px;
  text-align: center;

  margin-right: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  color: var(--chocolate-color);
  border: 1px solid var(--border-color);
  line-height: 26px;
}
.no-filter {
  font-family: "Twinkle Star", cursive;
  font-size: 30px;
  margin-right: auto;
  text-align: center;

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  color: var(--category-color);
  border: 1px solid var(--border-color);
  line-height: 26px;
}
#form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  font-family: "Niconne", cursive;
}
.hero-form-input {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  letter-spacing: 3px;
}
.text-box {
  width: 650px;
  height: 50px;
  font-size: 25px;
}
.form-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.btn,
.btn:link,
.btn:visited {
  padding: 20px;
  margin: 1rem;
  font-size: 30px;
  border-radius: 10px;
  border: 3px solid var(--change-btn);
  color: var(--change-btn);
  font-family: "Niconne", cursive;
  background-color: transparent;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 350px;
  border: 1px solid var(--border-color);
  margin: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--button-bg);
}
h2 {
  margin: 20px;
  font-family: "Shrikhand", serif;
  font-weight: 100;
  color: var(--head-color);
  text-shadow: var(--head-shadow) 3px 3px 5px;
}
.slideshow {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-image: 10px;
  width: 400px;
  height: auto;
}
.modal {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary);
  margin: 20px;
}
.modalimg {
  width: 30%;
}

@media screen and (max-width: 800px) {
  .card {
    width: 280px;
    height: 280px;
  }
  .container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    justify-content: space-around;
  }
  .card-img {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  .box {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    justify-content: space-around;
  }
  .modalimg {
    width: 60%;
  }
  .hero-form-input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }
  .slideshow {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    justify-content: space-around;
    width: 280px;
    height: 280px;
  }
  .text-box {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 280px;
    height: 280px;
  }
  .card-img {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  .container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    justify-content: space-around;
  }

  .modalimg {
    width: 60%;
  }
  h2 {
    margin: auto;
  }
  .slideshow {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    justify-content: space-around;
    width: 280px;
    height: 280px;
  }
  .text-box {
    width: auto;
  }
}
.card:hover {
  transform: scale(1.1);
}
